<mat-accordion>
    <mat-expansion-panel #newCheckinPanel [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Bier Check-in
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-accordion>
            <mat-expansion-panel #newBeerPanel [expanded]="true">  
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Bier selecteren
                    </mat-panel-title>
                </mat-expansion-panel-header>
                    <section>
                        <form [formGroup]="beerForm" (ngSubmit)="onBeerSubmit()">
                            <mat-form-field>
                                <mat-label>Brouwerij</mat-label>
                                <input
                                    type="text" 
                                    placeholder="Pick one"
                                    matInput
                                    formControlName="brandName"
                                    [matAutocomplete]="autoBrand"
                                    >
                                <mat-autocomplete #autoBrand="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredBrandOptions | async" [value]="option">
                                    {{ option }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Type</mat-label>
                                <input
                                    type="text" 
                                    placeholder="Pick one"
                                    matInput
                                    formControlName="beerType"
                                    [matAutocomplete]="autoBeerType"
                                    >
                                <mat-autocomplete #autoBeerType="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredBeerTypeOptions | async" [value]="option">
                                    {{ option }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Naam</mat-label>
                                <input
                                    type="text" 
                                    placeholder="Pick one"
                                    matInput
                                    formControlName="beerName"
                                    [matAutocomplete]="autoBeerName"
                                    >
                                <mat-autocomplete #autoBeerName="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredBeerNameOptions | async" [value]="option">
                                    {{ option }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Alcohol Percentage</mat-label>
                                <input 
                                    type="text"
                                    matInput
                                    formControlName="alcoholPercentage"
                                    (input)="convertDecimal($event)"
                                    min="0"
                                    max="100"
                                    step="0.1"
                                    >
                            </mat-form-field>
                            <span class="error" *ngIf="beerFormErrorMessage">
                                <mat-icon>warning</mat-icon>
                                <h3>{{ beerFormErrorMessage }}</h3>
                            </span>
                            <button mat-raised-button color="primary" type="submit" [disabled]="!canCreateBeer()">Maak aan</button>            
                            <button mat-raised-button color="primary" type="button" [disabled]="!beerExists()" (click)="selectBeer()">Kies bestaand</button>            
                        </form>
                    </section>

            </mat-expansion-panel>
        </mat-accordion>
        <mat-divider></mat-divider>
        <section>
            <form [formGroup]="checkinForm" (ngSubmit)="onCheckinSubmit()">
                <h3>{{ selectedBeerString() }}</h3>
                <span class="warning" *ngIf="beerCheckedIn()">
                    <mat-icon>warning</mat-icon>
                    <h3>Dit bier is al ingecheckt</h3>
                </span>
                <span class="error" *ngIf="userCheckedInToday()">
                    <mat-icon>warning</mat-icon>
                    <h3>Deze gebruiker heeft op deze datum al ingecheckt</h3>
                </span>
                <mat-form-field>
                    <mat-label>Speler</mat-label>

                    <input 
                        type="text"
                        matInput
                        formControlName="user"
                        [matAutocomplete]="autoUser"
                        >
                    <mat-autocomplete #autoUser="matAutocomplete">
                        <mat-option *ngFor="let option of filteredUserOptions | async" [value]="option">
                        {{ option }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Datum</mat-label>

                    <input 
                        matInput
                        [matDatepicker]="picker"
                        formControlName="date"
                        >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Samen met</mat-label>
                    <mat-select formControlName="jointCheckin" multiple>
                        <mat-option *ngFor="let option of jointCheckinOptions | async" [value]="option.id">
                        {{ option.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [hidden]="true">
                    <mat-checkbox formControlName="inBar">In café</mat-checkbox>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Cijfer</mat-label>
                    <input 
                        type="text"
                        matInput
                        formControlName="rating"
                        (input)="convertDecimalRating($event)"
                        min="0"
                        max="100"
                        step="0.1"
                        >
                </mat-form-field>
                <!-- TODO: Add picture upload -->
                <!-- <mat-form-field> -->
                    <!-- <mat-label>Foto</mat-label> -->
                    <!-- <input type="file" (change)="onFileSelected($event)" accept="image/*"> -->
                <!-- </mat-form-field> -->
                <input type="hidden" formControlName="beer">
                <span class="error" *ngIf="checkinFormErrorMessage">
                    <mat-icon>warning</mat-icon>
                    <h3>{{ checkinFormErrorMessage }}</h3>
                </span>
                <button mat-raised-button type="submit" color="primary" [disabled]="!canCheckin()">Check in</button>
            </form>
        </section>
    </mat-expansion-panel>
</mat-accordion>
