@use '@angular/material' as mat;
@import '../../styles/variables';

.points-page {
    padding: 20px;
}

.mat-mdc-table {
    width: 100%;
    background-color: #fff;

    .mat-mdc-header-row, .mat-mdc-row {
        @media (max-width: 576px) {
            height: 20px;
          }
          @media (min-width: 576px) {
            min-height: 48px;
        }
        border-bottom: 1px solid #e0e0e0;
    }

    .mat-mdc-header-row {
        color: #ffffff;
        background-color: mat.get-color-from-palette($default-accent); // Can we get this from theme?

        .mat-mdc-header-cell {
            @media (max-width: 576px) {
                font-size: 11px;
                padding: 4px;
              }

            padding: 8px 24px;
            text-align: left;
            font-weight: 304000;
        }
    }

    .mat-mdc-cell {
        @media (max-width: 576px) {
            font-size: 12px;
            padding: 4px;
          }

        padding: 8px 24px;
        text-align: left;
    }

    .mat-mdc-row {
        &:hover {
            background-color: #eeeeee; // Adjust hover color here
        }
    }
}

.mat-table-wrapper {
    overflow-x: auto;
    padding: 5px;

    @media (max-width: 576px) {
        font-size: 5px;
      }
}

// Style for the paginator
.mat-paginator {
    mat-select {
        width: 50px;
    }
}

.checkin-header {
    padding: 5px;
}

.no-wrap {
    white-space: nowrap;
  }
