<mat-toolbar color="primary">
    <div class="menu-container">
        <!-- <a routerLink="/"> -->
        <h1>Beer Explorer</h1>
        <!-- </a> -->
        <!-- <div #menu class="menu-items">
        <app-user-menu class="menu-item"></app-user-menu>
        </div>
        <button class="menu-toggle" mat-icon-button (click)="openMenu()">
        <mat-icon *ngIf="!menuIsOpen">menu</mat-icon>
        <mat-icon *ngIf="menuIsOpen">clear</mat-icon>
        </button> -->
    </div>
</mat-toolbar>
  